<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ai.openclaw.gateway</string>
    
    <key>Comment</key>
    <string>OpenClaw Gateway (v2026.2.19-2)</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/Cellar/node/25.6.1/bin/node</string>
      <string>/opt/homebrew/lib/node_modules/openclaw/dist/index.js</string>
      <string>gateway</string>
      <string>--port</string>
      <string>18789</string>
    </array>
    
    <key>StandardOutPath</key>
    <string>/Users/ymy/.openclaw/logs/gateway.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ymy/.openclaw/logs/gateway.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
    <key>HOME</key>
    <string>/Users/ymy</string>
    <key>TMPDIR</key>
    <string>/var/folders/hj/7syc90h51tg_1_zpvjvhfdcr0000gn/T/</string>
    <key>PATH</key>
    <string>/Users/ymy/.nvm:/Users/ymy/.local/bin:/Users/ymy/.npm-global/bin:/Users/ymy/bin:/Users/ymy/.volta/bin:/Users/ymy/.asdf/shims:/Users/ymy/.bun/bin:/Users/ymy/Library/Application Support/fnm/aliases/default/bin:/Users/ymy/.fnm/aliases/default/bin:/Users/ymy/Library/pnpm:/Users/ymy/.local/share/pnpm:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>OPENCLAW_GATEWAY_PORT</key>
    <string>18789</string>
    <key>OPENCLAW_GATEWAY_TOKEN</key>
    <string>8dc42d338feec83208c85ba82fcb1af44b408f34789561c5</string>
    <key>OPENCLAW_LAUNCHD_LABEL</key>
    <string>ai.openclaw.gateway</string>
    <key>OPENCLAW_SYSTEMD_UNIT</key>
    <string>openclaw-gateway.service</string>
    <key>OPENCLAW_SERVICE_MARKER</key>
    <string>openclaw</string>
    <key>OPENCLAW_SERVICE_KIND</key>
    <string>gateway</string>
    <key>OPENCLAW_SERVICE_VERSION</key>
    <string>2026.2.19-2</string>
    </dict>
  </dict>
</plist>
