<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.openclaw.mac</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Utilities/OpenClaw.app/Contents/MacOS/OpenClaw</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/ymy</string>
  <key>RunAtLoad</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/ymy/Library/pnpm:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/openclaw/openclaw-stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/openclaw/openclaw-stdout.log</string>
</dict>
</plist>