<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/ymy</string>
		<key>TMPDIR</key>
		<string>/var/folders/z9/lk9dmnss5xb6x8xd6ztd72nh0000gn/T/</string>
	</dict>
</dict>
</plist>
