<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.canva.CanvaDesktop</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/ymy</string>
		<key>TMPDIR</key>
		<string>/var/folders/j3/5qyn3r610nsfxzwk8_q8w9gm0000gn/T/</string>
	</dict>
	<key>Label</key>
	<string>Canva</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Canva.app/Contents/MacOS/Canva</string>
		<string>--start-availability-check-agent</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
