<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>RUN_WITH_LAUNCHD</key>
		<string>1</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.wacom.wacomtablet</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
	</array>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/Applications/Wacom Tablet.localized/.Tablet/TabletDriver.app/Contents/MacOS/TabletDriver</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>15</integer>
	<key>MachServices</key>
	<dict>
		<key>com.wacom.DataStoreMgr</key>
		<true/>
		<key>com.wacom.IOManager</key>
		<true/>
	</dict>
</dict>
</plist>
