<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.adobe.AdobeCreativeCloud</string>
	<key>Program</key>
	<string>/Applications/Utilities/Adobe Creative Cloud/ACC/Creative Cloud.app/Contents/MacOS/Creative Cloud</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Utilities/Adobe Creative Cloud/ACC/Creative Cloud.app/Contents/MacOS/Creative Cloud</string>
		<string>--showwindow=false</string>
		<string>--onOSstartup=true</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
