<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LowPriorityIO</key>
	<false/>
	<key>LowPriorityBackgroundIO</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>Wacom_IOManager</string>
	<key>MachServices</key>
	<dict>
		<key>com.wacom.IOManager</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/Wacom_IOManager.app/Contents/MacOS/Wacom_IOManager</string>
	<key>ThrottleInterval</key>
	<integer>2</integer>
	<key>WaitForDebugger</key>
	<false/>
	<key>EnableTransactions</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Coordinates and posts system events from the Wacom Pen and Touch drivers</string>
</dict>
</plist>
