<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.logi.optionsplus.updater</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Library/Application Support/Logitech.localized/LogiOptionsPlus/logioptionsplus_agent.app/Contents/Frameworks/logioptionsplus_updater.app/Contents/MacOS/logioptionsplus_updater</string>
        </array>
        <key>Disabled</key>
        <false/>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/logi.optionsplus.updater.log</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>SYSTEM_VERSION_COMPAT</key>
            <string>0</string>
        </dict>
        <key>AssociatedBundleIdentifiers</key>
        <array>
            <string>com.logi.cp-dev-mgr</string>
        </array>
    </dict>
</plist>
