bplist00×	
_ fetchWaitlistStatusRequestFinish_signupForWaitlistRequestStart_signupForWaitlistRequestFinishTrsvp_fetchWaitlistStatusRequestStart_startFeatureRequest^featureRequestOœ{
  "events" : [
    {
      "finishDate" : "2026-07-31T10:44:54Z",
      "taskID" : "8B7E65C9",
      "startDate" : "2026-07-31T10:44:54Z",
      "featureID" : "ai.enhanced-siri",
      "response" : {
        "status" : "notYetQueued",
        "ticket" : "",
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ]
      }
    },
    {
      "finishDate" : "2026-07-31T10:44:55Z",
      "taskID" : "97C9889B",
      "startDate" : "2026-07-31T10:44:55Z",
      "featureID" : "ai.enhanced-siri",
      "response" : {
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ],
        "ticket" : "",
        "status" : "notYetQueued"
      }
    },
    {
      "finishDate" : "2026-07-31T10:45:00Z",
      "taskID" : "95ADAC03",
      "startDate" : "2026-07-31T10:45:00Z",
      "featureID" : "ai.enhanced-siri",
      "response" : {
        "status" : "enqueued",
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ],
        "ticket" : "CgIqABIdChkwMDAwNjAwMS0wMDBBNzA5QzAxMjM0MDFFEAEaCAiqhMWoQRABMAE4h4GcvvszQhcKEwoHTWFjMTMsMRoIMjZBNTM4OGcyAGovMC0CFQDCQ6FnuL5ZfuCyAI\/5VJNqzNUfuwIUAmAr5XwwknVcSKqlW8I0TGa72JE="
      }
    }
  ]
}O’{
  "events" : [
    {
      "featureID" : "ai.enhanced-siri",
      "startDate" : "2026-07-31T10:44:59Z",
      "taskID" : "E086CB20"
    }
  ]
}O{
  "events" : [
    {
      "finishDate" : "2026-07-31T10:45:00Z",
      "response" : {
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ],
        "status" : "enqueued",
        "ticket" : "CgIqABIdChkwMDAwNjAwMS0wMDBBNzA5QzAxMjM0MDFFEAEaCAiqhMWoQRABMAE4h4GcvvszQhcKEwoHTWFjMTMsMRoIMjZBNTM4OGcyAGovMC0CFB5Vptg2VN1fkWcOcMbJp1+nAXFMAhUArpJt0uZV9BqMI7MxuFaRkYG0vi0="
      },
      "taskID" : "E086CB20",
      "startDate" : "2026-07-31T10:44:59Z",
      "featureID" : "ai.enhanced-siri"
    }
  ]
}Oe{
  "lastEvaluation" : {
    "date" : "2026-08-01T11:57:04Z",
    "outcome" : "appNotInstalled"
  }
}Oø{
  "events" : [
    {
      "taskID" : "8B7E65C9",
      "startDate" : "2026-07-31T10:44:54Z",
      "featureID" : "ai.enhanced-siri",
      "existingTicketPayload" : ""
    },
    {
      "taskID" : "97C9889B",
      "startDate" : "2026-07-31T10:44:55Z",
      "featureID" : "ai.enhanced-siri",
      "existingTicketPayload" : ""
    },
    {
      "taskID" : "95ADAC03",
      "startDate" : "2026-07-31T10:45:00Z",
      "featureID" : "ai.enhanced-siri",
      "existingTicketPayload" : ""
    }
  ]
}OÜ{
  "starts" : [
    {
      "triggerDate" : "2026-07-28T23:57:02Z",
      "identifier" : "3F698579"
    },
    {
      "triggerDate" : "2026-07-30T00:37:48Z",
      "identifier" : "FC6BD33C"
    },
    {
      "triggerDate" : "2026-07-31T00:42:45Z",
      "identifier" : "D45FD967"
    },
    {
      "triggerDate" : "2026-07-31T10:47:21Z",
      "identifier" : "D62C812F"
    },
    {
      "triggerDate" : "2026-08-01T11:57:03Z",
      "identifier" : "5E2064AA"
    }
  ]
}O)ž{
  "events" : [
    {
      "identifier" : "3F698579",
      "triggerDate" : "2026-07-28T23:57:02Z",
      "completionDate" : "2026-07-28T23:57:10Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      },
      "features" : [
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : false
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : false
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "ttl" : "2026-07-29T23:57:10Z",
          "canUse" : true
        }
      ]
    },
    {
      "identifier" : "FC6BD33C",
      "triggerDate" : "2026-07-30T00:37:48Z",
      "completionDate" : "2026-07-30T00:37:52Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      },
      "features" : [
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : false
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : false
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-07-31T00:37:52Z",
          "canUse" : true
        }
      ]
    },
    {
      "identifier" : "D45FD967",
      "triggerDate" : "2026-07-31T00:42:45Z",
      "completionDate" : "2026-07-31T00:42:46Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      },
      "features" : [
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : false
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : false
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-08-01T00:42:46Z",
          "canUse" : true
        }
      ]
    },
    {
      "identifier" : "D62C812F",
      "triggerDate" : "2026-07-31T10:47:21Z",
      "completionDate" : "2026-07-31T10:47:22Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      },
      "features" : [
        {
          "featureID" : "cloud.llm.waitlist",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : false
        },
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-08-01T10:47:22Z",
          "canUse" : true
        }
      ]
    },
    {
      "identifier" : "5E2064AA",
      "triggerDate" : "2026-08-01T11:57:03Z",
      "completionDate" : "2026-08-01T11:57:04Z",
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      },
      "features" : [
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : false
        },
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.waitlist",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-08-02T11:57:04Z",
          "canUse" : true
        }
      ]
    }
  ]
}   : Z { € ¢ ¸ Çgüo
kK                           5í