<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCAFullPath</key>
	<string>~/Library/Application Support/Certificate Authority/윤무영’s CA/윤무영’s CA.certAuthorityConfig</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAALABAAAEAAAAAwMAAAAEAAAFAAAAAQEAAFVzZXJzAAAAAwAAAAEB
	AAB5bXkACQAAAAEBAABEb2N1bWVudHMAAAAMAAAAAQYAABAAAAAgAAAALAAAAAgAAAAE
	AwAAo0cAAAAAAAAIAAAABAMAAMuNAAAAAAAACAAAAAQDAAD8jQAAAAAAAAwAAAABBgAA
	VAAAAGQAAAB0AAAACAAAAAAEAABBx2j7dAAAABgAAAABAgAAAgAAAAAAAAAfAgAAAAAA
	AB8CAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUMEZcwAAACQAAAAB
	AQAAQ0MyNEEzQjYtMTFDMi00RjBFLTgxQzUtNzkxQ0E2RjJCNjA0GAAAAAECAACBAAAA
	AQAAAO8TAAABAAAA7xMAAAEAAAABAAAAAQEAAC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHNjb2QCAAAAAAAAAPAAAAD+////AQAAAAAA
	AAATAAAABBAAAEAAAAAAAAAABRAAAIQAAAAAAAAAEBAAAKgAAAAAAAAAQBAAAJgAAAAA
	AAAAAiAAAGwBAAAAAAAABSAAAOwAAAAAAAAAECAAAPwAAAAAAAAAESAAACABAAAAAAAA
	EiAAABABAAAAAAAAEyAAAJgAAAAAAAAAICAAAEwBAAAAAAAAMCAAAMgAAAAAAAAAAcAA
	ANAAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOAAAAAAAAAAAdAAAMgAAAAAAAAAENAAAAQA
	AAAAAAAAF/AAACwAAAAAAAAAIvAAAHgBAAAAAAAA
	</data>
</dict>
</plist>
