bplist00×	
_ fetchWaitlistStatusRequestFinish_signupForWaitlistRequestStart_signupForWaitlistRequestFinishTrsvp_fetchWaitlistStatusRequestStart_startFeatureRequest^featureRequestOœ{
  "events" : [
    {
      "finishDate" : "2026-07-31T10:44:54Z",
      "taskID" : "8B7E65C9",
      "startDate" : "2026-07-31T10:44:54Z",
      "featureID" : "ai.enhanced-siri",
      "response" : {
        "status" : "notYetQueued",
        "ticket" : "",
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ]
      }
    },
    {
      "finishDate" : "2026-07-31T10:44:55Z",
      "taskID" : "97C9889B",
      "startDate" : "2026-07-31T10:44:55Z",
      "featureID" : "ai.enhanced-siri",
      "response" : {
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ],
        "ticket" : "",
        "status" : "notYetQueued"
      }
    },
    {
      "finishDate" : "2026-07-31T10:45:00Z",
      "taskID" : "95ADAC03",
      "startDate" : "2026-07-31T10:45:00Z",
      "featureID" : "ai.enhanced-siri",
      "response" : {
        "status" : "enqueued",
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ],
        "ticket" : "CgIqABIdChkwMDAwNjAwMS0wMDBBNzA5QzAxMjM0MDFFEAEaCAiqhMWoQRABMAE4h4GcvvszQhcKEwoHTWFjMTMsMRoIMjZBNTM4OGcyAGovMC0CFQDCQ6FnuL5ZfuCyAI\/5VJNqzNUfuwIUAmAr5XwwknVcSKqlW8I0TGa72JE="
      }
    }
  ]
}O’{
  "events" : [
    {
      "featureID" : "ai.enhanced-siri",
      "startDate" : "2026-07-31T10:44:59Z",
      "taskID" : "E086CB20"
    }
  ]
}O{
  "events" : [
    {
      "finishDate" : "2026-07-31T10:45:00Z",
      "response" : {
        "allowedFeatureKeys" : [
          "ai.enhanced-siri"
        ],
        "status" : "enqueued",
        "ticket" : "CgIqABIdChkwMDAwNjAwMS0wMDBBNzA5QzAxMjM0MDFFEAEaCAiqhMWoQRABMAE4h4GcvvszQhcKEwoHTWFjMTMsMRoIMjZBNTM4OGcyAGovMC0CFB5Vptg2VN1fkWcOcMbJp1+nAXFMAhUArpJt0uZV9BqMI7MxuFaRkYG0vi0="
      },
      "taskID" : "E086CB20",
      "startDate" : "2026-07-31T10:44:59Z",
      "featureID" : "ai.enhanced-siri"
    }
  ]
}Oe{
  "lastEvaluation" : {
    "date" : "2026-08-11T10:57:25Z",
    "outcome" : "appNotInstalled"
  }
}Oø{
  "events" : [
    {
      "taskID" : "8B7E65C9",
      "startDate" : "2026-07-31T10:44:54Z",
      "featureID" : "ai.enhanced-siri",
      "existingTicketPayload" : ""
    },
    {
      "taskID" : "97C9889B",
      "startDate" : "2026-07-31T10:44:55Z",
      "featureID" : "ai.enhanced-siri",
      "existingTicketPayload" : ""
    },
    {
      "taskID" : "95ADAC03",
      "startDate" : "2026-07-31T10:45:00Z",
      "featureID" : "ai.enhanced-siri",
      "existingTicketPayload" : ""
    }
  ]
}OÜ{
  "starts" : [
    {
      "identifier" : "AC59A6E6",
      "triggerDate" : "2026-08-07T18:04:48Z"
    },
    {
      "identifier" : "FAEF2693",
      "triggerDate" : "2026-08-08T19:12:25Z"
    },
    {
      "identifier" : "7AC4DBCB",
      "triggerDate" : "2026-08-09T19:52:52Z"
    },
    {
      "identifier" : "F9B71056",
      "triggerDate" : "2026-08-10T19:57:10Z"
    },
    {
      "triggerDate" : "2026-08-11T10:57:22Z",
      "identifier" : "AF5225C6"
    }
  ]
}O+0{
  "events" : [
    {
      "identifier" : "AC59A6E6",
      "triggerDate" : "2026-08-07T18:04:47Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "features" : [
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "cloud.llm.waitlist",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-08-08T18:04:49Z"
        }
      ],
      "completionDate" : "2026-08-07T18:04:49Z"
    },
    {
      "identifier" : "FAEF2693",
      "triggerDate" : "2026-08-08T19:12:25Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "features" : [
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        },
        {
          "featureID" : "cloud.llm.waitlist",
          "canUse" : true,
          "ttl" : "2026-08-09T19:12:27Z"
        }
      ],
      "completionDate" : "2026-08-08T19:12:27Z"
    },
    {
      "identifier" : "7AC4DBCB",
      "triggerDate" : "2026-08-09T19:52:52Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "features" : [
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "cloud.llm.waitlist",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : true,
          "ttl" : "2026-08-10T19:52:53Z"
        }
      ],
      "completionDate" : "2026-08-09T19:52:53Z"
    },
    {
      "identifier" : "F9B71056",
      "triggerDate" : "2026-08-10T19:57:10Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "features" : [
        {
          "featureID" : "cloud.llm.waitlist",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-08-11T19:57:11Z"
        }
      ],
      "completionDate" : "2026-08-10T19:57:11Z"
    },
    {
      "identifier" : "AF5225C6",
      "triggerDate" : "2026-08-11T10:57:22Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "features" : [
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "cloud.llm.waitlist",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-08-12T10:57:25Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-08-12T10:57:25Z"
        }
      ],
      "completionDate" : "2026-08-11T10:57:25Z"
    }
  ]
}   : Z { € ¢ ¸ Çgüo
kK                           7