<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRDialogShown_AIRobin_30.1.0_136</key>
	<integer>0</integer>
	<key>CRDialogShown_AIRobin_30.7.0_114</key>
	<integer>0</integer>
	<key>CRDialogShown_AIRobin_30.8.1_1</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Desktop Service_6.10.0_6.10.0.253</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Desktop Service_6.8.0_6.8.0.821</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Desktop Service_6.8.1_6.8.1.856</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Illustrator_30.1.0_136</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Illustrator_30.7.0_114</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Illustrator_30.8.1_1</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Lightroom_9.5.1_20260815-1945-84a45bf</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Photoshop 2026_27.10.0_20260824.r.26</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Photoshop 2026_27.2.0_20251213.r.15</key>
	<integer>0</integer>
	<key>CRDialogShown_Adobe Photoshop 2026_27.9.1_20260803.r.1</key>
	<integer>0</integer>
	<key>CRDialogShown_AdobeAcrobat_25.001.20997_25.001.20997</key>
	<integer>0</integer>
	<key>CRDialogShown_AdobeIPCBroker_7.3.0.41_vulcan</key>
	<integer>0</integer>
	<key>CRDialogShown_Core Sync_7.8.10.1_7.8.10.1</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud Helper_6.10.0_6.10.0.253</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud Helper_6.8.0_6.8.0.821</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud Helper_6.8.1_6.8.1.861</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud Libraries Synchronizer_4.18.4_1.0</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud UI Helper (Renderer)_6.10.0.253_6.10.0.253</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud UI Helper_6.10.0.253_6.10.0.253</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud_6.10_6.10.0.253</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud_6.8_6.8.0.821</key>
	<integer>0</integer>
	<key>CRDialogShown_Creative Cloud_6.8_6.8.1.861</key>
	<integer>0</integer>
	<key>CRDialogShown_IllustratorDiagnosys_30.1.0_136</key>
	<integer>0</integer>
	<key>CRDialogShown_IllustratorDiagnosys_30.7.0_114</key>
	<integer>0</integer>
	<key>CRDialogShown_IllustratorDiagnosys_30.8.1_1</key>
	<integer>0</integer>
	<key>CRDialogShown_Setup_6.10_6.10.0.252</key>
	<integer>0</integer>
	<key>CRDialogShown_Setup_6.8_6.8.0.821</key>
	<integer>0</integer>
	<key>CRDialogShown_Setup_6.8_6.8.1.856</key>
	<integer>0</integer>
	<key>SuppressCrash_AIRobin_30.1.0_136</key>
	<integer>0</integer>
	<key>SuppressCrash_AIRobin_30.7.0_114</key>
	<integer>0</integer>
	<key>SuppressCrash_AIRobin_30.8.1_1</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Desktop Service_6.10.0_6.10.0.253</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Desktop Service_6.8.0_6.8.0.821</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Desktop Service_6.8.1_6.8.1.856</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Illustrator_30.1.0_136</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Illustrator_30.7.0_114</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Illustrator_30.8.1_1</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Lightroom_9.5.1_20260815-1945-84a45bf</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Photoshop 2026_27.10.0_20260824.r.26</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Photoshop 2026_27.2.0_20251213.r.15</key>
	<integer>0</integer>
	<key>SuppressCrash_Adobe Photoshop 2026_27.9.1_20260803.r.1</key>
	<integer>0</integer>
	<key>SuppressCrash_AdobeAcrobat_25.001.20997_25.001.20997</key>
	<integer>0</integer>
	<key>SuppressCrash_AdobeIPCBroker_7.3.0.41_vulcan</key>
	<integer>0</integer>
	<key>SuppressCrash_Core Sync_7.8.10.1_7.8.10.1</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud Helper_6.10.0_6.10.0.253</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud Helper_6.8.0_6.8.0.821</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud Helper_6.8.1_6.8.1.861</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud Libraries Synchronizer_4.18.4_1.0</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud UI Helper (Renderer)_6.10.0.253_6.10.0.253</key>
	<integer>1</integer>
	<key>SuppressCrash_Creative Cloud UI Helper_6.10.0.253_6.10.0.253</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud_6.10_6.10.0.253</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud_6.8_6.8.0.821</key>
	<integer>0</integer>
	<key>SuppressCrash_Creative Cloud_6.8_6.8.1.861</key>
	<integer>0</integer>
	<key>SuppressCrash_IllustratorDiagnosys_30.1.0_136</key>
	<integer>0</integer>
	<key>SuppressCrash_IllustratorDiagnosys_30.7.0_114</key>
	<integer>0</integer>
	<key>SuppressCrash_IllustratorDiagnosys_30.8.1_1</key>
	<integer>0</integer>
	<key>SuppressCrash_Setup_6.10_6.10.0.252</key>
	<integer>0</integer>
	<key>SuppressCrash_Setup_6.8_6.8.0.821</key>
	<integer>0</integer>
	<key>SuppressCrash_Setup_6.8_6.8.1.856</key>
	<integer>0</integer>
	<key>always_never_send</key>
	<integer>0</integer>
	<key>closeOnCRCNNotFoundFlag</key>
	<integer>0</integer>
	<key>guid_ymy</key>
	<string>94C7D134-F0EC-47BF-8E7E-DA78A057815D</string>
	<key>lastCrash_AIRobin_30.1.0_136</key>
	<string>-1</string>
	<key>lastCrash_AIRobin_30.7.0_114</key>
	<string>-1</string>
	<key>lastCrash_AIRobin_30.8.1_1</key>
	<string>-1</string>
	<key>lastCrash_Adobe Desktop Service_6.10.0_6.10.0.253</key>
	<string>-1</string>
	<key>lastCrash_Adobe Desktop Service_6.8.0_6.8.0.821</key>
	<string>-1</string>
	<key>lastCrash_Adobe Desktop Service_6.8.1_6.8.1.856</key>
	<string>-1</string>
	<key>lastCrash_Adobe Illustrator_30.1.0_136</key>
	<string>-1</string>
	<key>lastCrash_Adobe Illustrator_30.7.0_114</key>
	<string>-1</string>
	<key>lastCrash_Adobe Illustrator_30.8.1_1</key>
	<string>-1</string>
	<key>lastCrash_Adobe Lightroom_9.5.1_20260815-1945-84a45bf</key>
	<string>-1</string>
	<key>lastCrash_Adobe Photoshop 2026_27.10.0_20260824.r.26</key>
	<string>-1</string>
	<key>lastCrash_Adobe Photoshop 2026_27.2.0_20251213.r.15</key>
	<string>-1</string>
	<key>lastCrash_Adobe Photoshop 2026_27.9.1_20260803.r.1</key>
	<string>-1</string>
	<key>lastCrash_AdobeAcrobat_25.001.20997_25.001.20997</key>
	<string>-1</string>
	<key>lastCrash_AdobeIPCBroker_7.3.0.41_vulcan</key>
	<string>-1</string>
	<key>lastCrash_Core Sync_7.8.10.1_7.8.10.1</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud Helper_6.10.0_6.10.0.253</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud Helper_6.8.0_6.8.0.821</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud Helper_6.8.1_6.8.1.861</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud Libraries Synchronizer_4.18.4_1.0</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud UI Helper (GPU)_6.10.0.253_6.10.0.253</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud UI Helper (Renderer)_6.10.0.253_6.10.0.253</key>
	<string>Creative Cloud UI Helper (Renderer)-2026-08-28-150802.ips</string>
	<key>lastCrash_Creative Cloud UI Helper_6.10.0.253_6.10.0.253</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud_6.10_6.10.0.253</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud_6.8_6.8.0.821</key>
	<string>-1</string>
	<key>lastCrash_Creative Cloud_6.8_6.8.1.861</key>
	<string>-1</string>
	<key>lastCrash_IllustratorDiagnosys_30.1.0_136</key>
	<string>-1</string>
	<key>lastCrash_IllustratorDiagnosys_30.7.0_114</key>
	<string>-1</string>
	<key>lastCrash_IllustratorDiagnosys_30.8.1_1</key>
	<string>-1</string>
	<key>lastCrash_Setup_6.10_6.10.0.252</key>
	<string>-1</string>
	<key>lastCrash_Setup_6.8_6.8.0.821</key>
	<string>-1</string>
	<key>lastCrash_Setup_6.8_6.8.1.856</key>
	<string>-1</string>
	<key>productPreferences</key>
	<dict>
		<key>AIRobin;30.1.0;136</key>
		<dict>
			<key>AIRobin;30.1.0;136</key>
			<string>0_1_100</string>
		</dict>
		<key>AIRobin;30.7.0;114</key>
		<dict>
			<key>AIRobin;30.7.0;114</key>
			<string>0_1_100</string>
		</dict>
		<key>AIRobin;30.8.1;1</key>
		<dict>
			<key>AIRobin;30.8.1;1</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Desktop Service;6.10.0;6.10.0.253</key>
		<dict>
			<key>Adobe Desktop Service;6.10.0;6.10.0.253</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Desktop Service;6.8.0;6.8.0.821</key>
		<dict>
			<key>Adobe Desktop Service;6.8.0;6.8.0.821</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Desktop Service;6.8.1;6.8.1.856</key>
		<dict>
			<key>Adobe Desktop Service;6.8.1;6.8.1.856</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Illustrator;30.1.0;136</key>
		<dict>
			<key>Adobe Illustrator;30.1.0;136</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Illustrator;30.7.0;114</key>
		<dict>
			<key>Adobe Illustrator;30.7.0;114</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Illustrator;30.8.1;1</key>
		<dict>
			<key>Adobe Illustrator;30.8.1;1</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Lightroom;9.5.1;20260815-1945-84a45bf</key>
		<dict>
			<key>Adobe Lightroom;9.5.1;20260815-1945-84a45bf</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Photoshop 2026;27.10.0;20260824.r.26</key>
		<dict>
			<key>Adobe Photoshop 2026;27.10.0;20260824.r.26</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Photoshop 2026;27.2.0;20251213.r.15</key>
		<dict>
			<key>Adobe Photoshop 2026;27.2.0;20251213.r.15</key>
			<string>0_1_100</string>
		</dict>
		<key>Adobe Photoshop 2026;27.9.1;20260803.r.1</key>
		<dict>
			<key>Adobe Photoshop 2026;27.9.1;20260803.r.1</key>
			<string>0_1_100</string>
		</dict>
		<key>AdobeAcrobat;25.001.20997;25.001.20997</key>
		<dict>
			<key>AdobeAcrobat;25.001.20997;25.001.20997</key>
			<string>0_1_100</string>
		</dict>
		<key>AdobeIPCBroker;7.3.0.41;vulcan</key>
		<dict>
			<key>AdobeIPCBroker;7.3.0.41;vulcan</key>
			<string>0_1_100</string>
		</dict>
		<key>Core Sync;7.8.10.1;7.8.10.1</key>
		<dict>
			<key>Core Sync;7.8.10.1;7.8.10.1</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud Helper;6.10.0;6.10.0.253</key>
		<dict>
			<key>Creative Cloud Helper;6.10.0;6.10.0.253</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud Helper;6.8.0;6.8.0.821</key>
		<dict>
			<key>Creative Cloud Helper;6.8.0;6.8.0.821</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud Helper;6.8.1;6.8.1.861</key>
		<dict>
			<key>Creative Cloud Helper;6.8.1;6.8.1.861</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud Libraries Synchronizer;4.18.4;1.0</key>
		<dict>
			<key>Creative Cloud Libraries Synchronizer;4.18.4;1.0</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud UI Helper (GPU);6.10.0.253;6.10.0.253</key>
		<dict>
			<key>Creative Cloud UI Helper (GPU);6.10.0.253;6.10.0.253</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud UI Helper (Renderer);6.10.0.253;6.10.0.253</key>
		<dict>
			<key>Creative Cloud UI Helper (Renderer);6.10.0.253;6.10.0.253</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud UI Helper;6.10.0.253;6.10.0.253</key>
		<dict>
			<key>Creative Cloud UI Helper;6.10.0.253;6.10.0.253</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud;6.10;6.10.0.253</key>
		<dict>
			<key>Creative Cloud;6.10;6.10.0.253</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud;6.8;6.8.0.821</key>
		<dict>
			<key>Creative Cloud;6.8;6.8.0.821</key>
			<string>0_1_100</string>
		</dict>
		<key>Creative Cloud;6.8;6.8.1.861</key>
		<dict>
			<key>Creative Cloud;6.8;6.8.1.861</key>
			<string>0_1_100</string>
		</dict>
		<key>IllustratorDiagnosys;30.1.0;136</key>
		<dict>
			<key>IllustratorDiagnosys;30.1.0;136</key>
			<string>0_1_100</string>
		</dict>
		<key>IllustratorDiagnosys;30.7.0;114</key>
		<dict>
			<key>IllustratorDiagnosys;30.7.0;114</key>
			<string>0_1_100</string>
		</dict>
		<key>IllustratorDiagnosys;30.8.1;1</key>
		<dict>
			<key>IllustratorDiagnosys;30.8.1;1</key>
			<string>0_1_100</string>
		</dict>
		<key>Setup;6.10;6.10.0.252</key>
		<dict>
			<key>Setup;6.10;6.10.0.252</key>
			<string>0_1_100</string>
		</dict>
		<key>Setup;6.8;6.8.0.821</key>
		<dict>
			<key>Setup;6.8;6.8.0.821</key>
			<string>0_1_100</string>
		</dict>
		<key>Setup;6.8;6.8.1.856</key>
		<dict>
			<key>Setup;6.8;6.8.1.856</key>
			<string>0_1_100</string>
		</dict>
	</dict>
	<key>search_solution</key>
	<integer>0</integer>
</dict>
</plist>
