<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DC</key>
	<dict>
		<key>events_arm</key>
		<dict>
			<key>CreationTimeStamp</key>
			<string>Sep 19, 2026 at 01:49:04</string>
			<key>HammerInstallDoneTimeStamp</key>
			<string>Sep 19, 2026 at 01:50:21</string>
			<key>HammerInstallError</key>
			<string>1:1</string>
			<key>HammerInstallTrigerredTimeStamp</key>
			<string>Sep 19, 2026 at 01:49:18</string>
			<key>HammerTrigerredTimeStamp</key>
			<string>Sep 19, 2026 at 01:49:04</string>
			<key>HammerValidationDoneTimeStamp</key>
			<string>Sep 19, 2026 at 01:49:16</string>
		</dict>
		<key>events_installer</key>
		<array>
			<dict>
				<key>EventString</key>
				<string>entryPackage/preinstallInstallStart.txt</string>
				<key>InstallerName</key>
				<string>scafull</string>
			</dict>
			<dict>
				<key>EventString</key>
				<string>exitPackage/postinstallUpdateMigrationStatus.txt</string>
				<key>InstallerName</key>
				<string>scafull</string>
			</dict>
			<dict>
				<key>EventString</key>
				<string>exitPackage/postinstallInstallSuccess.txt</string>
				<key>InstallerName</key>
				<string>scafull</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
