bplist00Ó^featureRequest_startFeatureRequestTrsvpO(’{
  "events" : [
    {
      "completionDate" : "2026-07-17T09:37:38Z",
      "identifier" : "62C43F04",
      "triggerDate" : "2026-07-17T09:37:37Z",
      "features" : [
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "ai.apps.image-playground",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "cloud.llm",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "home.cameras.intelligence",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "ai.enhanced-siri",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "cloud.llm.v2",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-18T09:37:40Z",
          "featureID" : "networking.privacy.attestation",
          "canUse" : true
        }
      ],
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      }
    },
    {
      "completionDate" : "2026-07-18T09:52:58Z",
      "identifier" : "88F1F118",
      "triggerDate" : "2026-07-18T09:52:58Z",
      "features" : [
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "networking.privacy.attestation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "home.cameras.intelligence",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "cloud.llm.v2",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "ai.apps.image-playground",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "cloud.llm",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-19T09:53:01Z",
          "featureID" : "ai.enhanced-siri",
          "canUse" : false
        }
      ],
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      }
    },
    {
      "completionDate" : "2026-07-19T10:25:39Z",
      "identifier" : "D95EB352",
      "triggerDate" : "2026-07-19T10:25:38Z",
      "features" : [
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "cloud.llm",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "cloud.llm.v2",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "home.cameras.intelligence",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "networking.privacy.attestation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "ai.apps.image-playground",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-20T10:25:39Z",
          "featureID" : "ai.enhanced-siri",
          "canUse" : false
        }
      ],
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      }
    },
    {
      "completionDate" : "2026-07-20T10:56:48Z",
      "identifier" : "0C4207E6",
      "triggerDate" : "2026-07-20T10:56:47Z",
      "features" : [
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "cloud.llm.v2",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "ai.apps.image-playground",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "networking.privacy.attestation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "ai.enhanced-siri",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "home.cameras.intelligence",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "cloud.llm",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T10:56:48Z",
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true
        }
      ],
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      }
    },
    {
      "completionDate" : "2026-07-20T11:09:09Z",
      "identifier" : "0F985EAB",
      "triggerDate" : "2026-07-20T11:08:55Z",
      "features" : [
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.enhanced-siri",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "cloud.llm.v2",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "cloud.llm",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "home.cameras.intelligence",
          "canUse" : false
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.apps.image-playground",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "networking.privacy.attestation",
          "canUse" : true
        },
        {
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true
        }
      ],
      "request" : {
        "httpStatusCode" : 200,
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        }
      }
    }
  ]
}OÜ{
  "starts" : [
    {
      "triggerDate" : "2026-07-17T09:37:37Z",
      "identifier" : "62C43F04"
    },
    {
      "triggerDate" : "2026-07-18T09:52:58Z",
      "identifier" : "88F1F118"
    },
    {
      "triggerDate" : "2026-07-19T10:25:38Z",
      "identifier" : "D95EB352"
    },
    {
      "triggerDate" : "2026-07-20T10:56:47Z",
      "identifier" : "0C4207E6"
    },
    {
      "triggerDate" : "2026-07-20T11:08:55Z",
      "identifier" : "0F985EAB"
    }
  ]
}Oe{
  "lastEvaluation" : {
    "outcome" : "appNotInstalled",
    "date" : "2026-07-20T11:09:09Z"
  }
}    4 9(Ï*¯                           +