bplist00”Trsvp_startFeatureRequest^featureRequestOe{
  "lastEvaluation" : {
    "outcome" : "appNotInstalled",
    "date" : "2026-07-20T23:59:11Z"
  }
}O‹{
  "starts" : [
    {
      "identifier" : "D95EB352",
      "triggerDate" : "2026-07-19T10:25:38Z"
    },
    {
      "identifier" : "0C4207E6",
      "triggerDate" : "2026-07-20T10:56:47Z"
    },
    {
      "triggerDate" : "2026-07-20T11:08:55Z",
      "identifier" : "0F985EAB"
    },
    {
      "triggerDate" : "2026-07-20T11:09:21Z",
      "identifier" : "C79EBAA0"
    },
    {
      "triggerDate" : "2026-07-20T23:59:08Z",
      "identifier" : "FD4A84DA"
    }
  ]
}O(í{
  "events" : [
    {
      "identifier" : "D95EB352",
      "features" : [
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-07-20T10:25:39Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : false,
          "ttl" : "2026-07-20T10:25:39Z"
        }
      ],
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "completionDate" : "2026-07-19T10:25:39Z",
      "triggerDate" : "2026-07-19T10:25:38Z"
    },
    {
      "identifier" : "0C4207E6",
      "features" : [
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : false
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : false
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-07-21T10:56:48Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-07-21T10:56:48Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-07-21T10:56:48Z"
        }
      ],
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "completionDate" : "2026-07-20T10:56:48Z",
      "triggerDate" : "2026-07-20T10:56:47Z"
    },
    {
      "identifier" : "0F985EAB",
      "triggerDate" : "2026-07-20T11:08:55Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "features" : [
        {
          "canUse" : false,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.enhanced-siri"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "cloud.llm.v2"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.paperkit.image-generation"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "networking.privacy.subscriber"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "mail.hide-my-email.create"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "cloud.llm"
        },
        {
          "canUse" : false,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "home.cameras.intelligence"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.apps.image-playground"
        },
        {
          "canUse" : true,
          "ttl" : "2026-07-21T11:09:09Z",
          "featureID" : "ai.keyboard.emoji-generation"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-07-21T11:09:09Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-07-21T11:09:09Z",
          "canUse" : true
        }
      ],
      "completionDate" : "2026-07-20T11:09:09Z"
    },
    {
      "features" : [
        {
          "featureID" : "ai.paperkit.image-generation",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "home.cameras.intelligence",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : false
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "networking.privacy.attestation",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.enhanced-siri",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : false
        },
        {
          "featureID" : "ai.apps.image-playground",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm.v2",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "cloud.llm",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "ttl" : "2026-07-21T11:09:26Z",
          "canUse" : true
        }
      ],
      "completionDate" : "2026-07-20T11:09:26Z",
      "request" : {
        "capabilityHeaders" : {
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri",
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "triggerDate" : "2026-07-20T11:09:21Z",
      "identifier" : "C79EBAA0"
    },
    {
      "features" : [
        {
          "featureID" : "ai.apps.image-playground",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "home.cameras.intelligence",
          "canUse" : false,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "cloud.llm.v2",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "ai.enhanced-siri",
          "canUse" : false,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "mail.hide-my-email.create",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "ai.paperkit.image-generation",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "ai.keyboard.emoji-generation",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "networking.privacy.attestation",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "cloud.llm",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "mail.custom-domains.transfer",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        },
        {
          "featureID" : "networking.privacy.subscriber",
          "canUse" : true,
          "ttl" : "2026-07-21T23:59:11Z"
        }
      ],
      "completionDate" : "2026-07-20T23:59:11Z",
      "request" : {
        "capabilityHeaders" : {
          "hardwareCapabilityHeader" : "cloud.llm, llm, cloud.llm.v2, ai.enhanced-siri",
          "softwareCapabilityHeader" : "cloud.llm, ai.apps.image-playground, ai.paperkit.image-generation, ai.keyboard.emoji-generation, cloud.llm.v2, ai.enhanced-siri"
        },
        "httpStatusCode" : 200
      },
      "triggerDate" : "2026-07-20T23:59:08Z",
      "identifier" : "FD4A84DA"
    }
  ]
}    * 9 °Å                           +